# 데이터 셋을 로드하여 병합하여 저장한다.

In [2]:
import pandas as pd
import numpy as np

In [21]:
#데이터 불러오기
df1 = pd.read_csv("./2019-Dec.csv")
df2 = pd.read_csv("./2019-Nov.csv")
df3 = pd.read_csv("./2019-Oct.csv")
df4 = pd.read_csv("./2020-Apr.csv")
df5 = pd.read_csv("./2020-Feb.csv")
df6 = pd.read_csv("./2020-Mar.csv")
df7 = pd.read_csv("./2020-Jan.csv")

### event_type purchase 분리

In [22]:
purchase_csv1 = df1[df1["event_type"] == "purchase"]
purchase_csv2 = df2[df2["event_type"] == "purchase"]
purchase_csv3 = df3[df3["event_type"] == "purchase"]
purchase_csv4 = df4[df4["event_type"] == "purchase"]
purchase_csv5 = df5[df5["event_type"] == "purchase"]
purchase_csv6 = df6[df6["event_type"] == "purchase"]
purchase_csv7 = df7[df7["event_type"] == "purchase"]

In [23]:
purchase_csv1.to_csv("./2019-Dec_purchase.csv")
purchase_csv2.to_csv("./2019-Nov_purchase.csv")
purchase_csv3.to_csv("./2019-Oct_purchase.csv")
purchase_csv4.to_csv("./2020-Apr_purchase.csv")
purchase_csv5.to_csv("./2020-Feb_purchase.csv")
purchase_csv6.to_csv("./2020-Mar_purchase.csv")
purchase_csv7.to_csv("./2020-Jan_purchase.csv")

In [3]:
df1 = pd.read_csv("./2019-Dec_purchase.csv")
df2 = pd.read_csv("./2019-Nov_purchase.csv")
df3 = pd.read_csv("./2019-Oct_purchase.csv")
df4 = pd.read_csv("./2020-Apr_purchase.csv")
df5 = pd.read_csv("./2020-Feb_purchase.csv")
df6 = pd.read_csv("./2020-Mar_purchase.csv")
df7 = pd.read_csv("./2020-Jan_purchase.csv")

In [17]:
merged_df = pd.concat([df1,df2,df3,df4,df5,df6,df7])

In [18]:
merged_df.head()

,Unnamed: 0,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,3,2019-12-01 00:00:02 UTC,purchase,26400248,2053013553056579841,computers.peripherals.printer,NaN,132.31,535135317,61792a26-672f-4e61-9832-7b63bb1714db
1,111,2019-12-01 00:00:39 UTC,purchase,1004739,2232732093077520756,construction.tools.light,xiaomi,167.29,569958205,80afff78-be88-479a-8930-83b3e6220926
2,267,2019-12-01 00:01:35 UTC,purchase,1004833,2232732093077520756,construction.tools.light,samsung,167.03,557794415,6fecf566-ebb0-4e70-a243-cdc13ce044cb
3,315,2019-12-01 00:01:54 UTC,purchase,1004838,2232732093077520756,construction.tools.light,oppo,154.41,561593478,cc3328ce-e22a-49ba-b92a-3e143fb4b3d6
4,332,2019-12-01 00:02:01 UTC,purchase,1005003,2232732093077520756,construction.tools.light,huawei,227.64,555295228,3de3ac21-f446-4cf5-b3c3-06a051c5caa9

### 불필요한 column 삭제

In [19]:
merged_df = merged_df.drop(["brand","category_id","product_id","event_type","Unnamed: 0"],axis=1)

### 결측치 삭제

In [20]:
merged_df.isnull().sum()

event_time            0
category_code    768060
price                 0
user_id               0
user_session          4
dtype: int64

In [21]:
merged_df = merged_df.dropna()

In [22]:
merged_df.isnull().sum()

event_time       0
category_code    0
price            0
user_id          0
user_session     0
dtype: int64

In [23]:
print(len(merged_df))

6080761

In [26]:
merged_df.to_csv("./Dataset/E-commerce.csv")